<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<i class="icon-user"></i>
		<%= f.text_field :commenter, :class => 'text_field span4' %>
	</div>
	<div class="field">
		<i class="icon-comment"></i>
		<%= f.text_area :body, :rows => 5, :class => 'text_area span4' %>
	</div>
	<div class="actions">
		<%= f.submit %>
	<div>	
<% end %>