<h1>Nishijima Hidetoshi</h1>
<p>
<ul>
<li> Stack: linode VPS + ubuntu lucid + nginx + unicorn + rbenv + rails + twitter bootstrap + capistrano
<li> Follow me @zomo_jj
<li> <%= link_to "My blog", posts_path %>
</p>
