<p>
<ul>
<li> Stack: linode VPS + ubuntu lucid + nginx + unicorn + rails + postgresql
<li> Plus: rbenv + twitter bootstrap + capistrano
<li> Follow me @zomo_jj
<li> <%= link_to "My blog", posts_path %>
</p>
